<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Livro</title>
</head>
<body>
    <h1>Adicionar Livro</h1>
    <form th:action="@{/livros}" method="post">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" th:value="${livro.titulo}">
        <br>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" th:value="${livro.tipo}">
        <br>
        <button type="submit">Salvar</button>
    </form>
    <a th:href="@{/livros}">Voltar</a>
</body>
</html>
